p{
  font-size: 36px;
  color: white;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


p1{
  font-size: 1em;
  color: white;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p2{
  font-size: 0.7em;
  color: white;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1{
    font-size: 3em;
    color: white;
    text-align: center;
     font-family: 'Montserrat', sans-serif;
      font-weight: bold;
}
/*the container must be positioned relative:*/
.calcolo{
  font-size: 1em;
  color: white;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #ffac00;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffac00;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.btn-toolset {
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 18px;
 background-color: #000;
 border-radius: 30px;
 padding: 6px 20px;
 border: 5px solid #ffac00;
 cursor: pointer;
}
.btn-toolset:hover {
 background-color: #ffac00;
 border-color: #ffac00;
}
.btn-toolset > strong {
 font-size: 24px;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}
.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-top-70 {
  padding-top: 70px !important;
}
.btn-toolset1 {
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-size: 18px;
 background-color: #000;
 border-radius: 30px;
 padding: 6px 20px;
 border: 5px solid #ffac00;
 cursor: pointer;
 position: relative;
}
div1{
  font-size: 15px;
  color: white;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/*autocomplete*/
* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #000;
  padding: 10px;
  font-size: 16px;

}

input[type=text] {
  background-color: #000;
  width: 100%;
    color: #fff;
}

input[type=submit] {
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #000;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 3px;
  cursor: pointer;
  background-color: #000;
  border-bottom: 1px solid transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #ffac00;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color:  #ffac00 !important;
  color: transparent;
}
.ruota {
transform:rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg); /* Safari e Chrome */
}
